<meta itemprop="keywords" content="hugo,">
<link rel="stylesheet" href="/brunocardoso/css/bootstrap5.css">
{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
<link rel="stylesheet" href="/brunocardoso/css/width.css">
